@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
/* font-family: "DM Sans", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
/* font-family: "Arimo", sans-serif; */
@import 'tailwindcss';

@theme {
  --breakpoint-3xl: 2050px;
  --breakpoint-1xl: 1441px;
  --color-black: #121421;
  --color-grey: #515151;
  --color-muted: #85868D;
  --color-grey-light: #D9D9D9;
  --color-theme: #E81211;
}

html {
  font-family: "Arimo", sans-serif;
}

body {
  font-family: "Arimo", sans-serif;
  @apply text-base font-normal leading-5 -tracking-[0.02em] antialiased overflow-x-hidden text-grey bg-white;
}

.font-dm {
  font-family: "DM Sans", sans-serif;
}

h1,
.h1 {
  font-family: "DM Sans", sans-serif;
  @apply text-[8rem] leading-[0.9] -tracking-[0.04em] text-black;
  font-size: clamp(3rem, 8.466vw, 8rem);
  /* line-height: clamp(3rem, 8.466vw, 8rem); */
  letter-spacing: clamp(-0.04em, -0.063vw, -0.04em);
}

.ag__container {
  @apply px-5 md:px-10 mx-auto;
}

.nav__humburger span:before,
.nav__humburger span:after {
  @apply bg-black w-10 h-px rounded-sm inline-block transition-all duration-300 ease-linear;
}

.nav__humburger span:before,
.nav__humburger span:after {
  content: '';
  @apply absolute left-1/2 -translate-x-1/2;
}

.nav__humburger span:before {
  @apply -translate-y-1;
}

.nav__humburger span:after {
  @apply translate-y-1;
}

.nav__humburger.open span:before {
  @apply rotate-45 translate-y-0.5;
}

.nav__humburger.open span:after {
  @apply -rotate-45 translate-y-0.5;
}